body {
	padding-top: 54px;
}

@media ( min-width : 768px) {
	body {
		padding-top: 56px;
	}
	.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}
.container {
   max-width: 1270px;
}



.portfolio-item {
	margin-bottom: 30px;
}

.pagination {
	margin-bottom: 30px;
}
.an {
  	display: block;
  	display: -webkit-box;
  	height: 16px*1.3*3;
  	font-size: 16px;
  	line-height: 1.3;
  	-webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-top:10px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #0e0e0f;
    overflow: hidden
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box
}

.product .imgbox img {
    display: block;
    width: 80%;
    margin: 10px auto 0
}

.specifies {
    position: absolute;
    width: 100%;
    bottom: -160px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    transition: .5s
}

.product:hover .specifies {
    bottom: 0
}

.specifies h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%
}

.specifies h2 span {
    font-size: 15px;
    color: #ccc;
    font-weight: normal
}

.specifies .price {
    position: absolute;
    top: 12px;
    right: 25px;
    font-weight: bold;
    color: #000;
    font-size: 30px
}

label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px
}

ul {
    display: flex;
    margin: 0;
    padding: 0
}

ul li {
    list-style: none;
    margin: 5px 5px 0;
    font-size: 15px;
    font-style: normal;
    color: #ccc
}

ul li:first-child {
    margin-left: 0
}

ul.colors li {
    width: 15px;
    height: 15px
}

ul.colors li:nth-child(1) {
    background: #4A148C
}

ul.colors li:nth-child(2) {
    background: #F50057
}

ul.colors li:nth-child(3) {
    background: #536DFE
}

ul.colors li:nth-child(4) {
    background: #388E3C
}

ul.colors li:nth-child(5) {
    background: #FF6D00
}

.btn {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 10px 0 0;
    width: 100%;
    font-size: 13px;
    border-radius: 2px
}

/* ------------------------------------ */
label {
  width: 100%;
  font-size: 1rem;
}

.card-input-element+.card {
  height: calc(36px + 2*1rem);
  color: var(--primary);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 4px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  border: 2px solid var(--primary);
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

.card-input-element:checked+.card::after {
  content: '\e5ca';
  color: #AFB8EA;
  font-family: 'Material Icons';
  font-size: 24px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
